.search-bar-container {
  position: relative;
}

.sub-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.sub-menu li:hover {
  background-color: #f0f0f0;
}

header {
  display: flex;
  padding: 30px 10% 0;
}

.sub-menu {
  width: 100%;
  position: absolute;
  list-style: none;
  background-color: white;
  z-index: 10;
  margin-block-start: 0;
  padding-left: 0;
}

.left-content {
  width: calc(70% - 10px);
  display: flex;
  align-items: center;
  height: 40px;
}

.right-content {
  width: calc(30% - 10px);
  display: flex;
  justify-content: flex-end;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.btn-warning {
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 20px;
  color: #fff;
  background-color: #00316e;
  border: 0;
  transition: 0.2s;
  overflow: hidden;
}

.btn-warning input[type='file'] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.btn-warning:hover {
  background-color: black;
}

.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 3px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.navbar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar {
  flex-shrink: 0;
}

.search-wrapper {
  flex-shrink: 0;
}

.custom-tooltip {
  background-color: #555;
  border-radius: 8px;
  padding: 8px;
  margin: 2px;
  font-size: 14px;
  color: #fff;
}

table__body {
  width: 85%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 85%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  padding-right: 0%;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:hover {
  background-color: #fff6 !important;
}

.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.success {
  background-color: #86e49d;
  color: #006b21;
  font-weight: bold;
}

.status.unknown {
  background-color: #ebc474;
  color: #661813;
  font-weight: bold;
}

.status.danger {
  background-color: #e74318;
  color: #661813;
  font-weight: bold;
}

thead th:hover {
  color: #6c00bd;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textClip 2s linear infinite;
  font-size: 30px;
  display: inline-block;
}

@keyframes textClip {
  to {
    background-position: 200% center;
  }
}

.range-line {
  position: relative;
  width: 80%; /* Adjust the width of the range line */
  height: 10px; /* Adjust the height of the range line */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 38px;
}
.start-marker,
.end-marker {
  position: absolute;
  width: 12px;
  height: 13px; /* Adjust the height of the markers */
  background-color: #9f0be4; /* Blue color */
  border-radius: 50%; /* Circle shape */
  top: -3px; /* Position above the range line */
}
.start-marker {
  left: 0; /* Position at the start of the range line */
}
.end-marker {
  right: 0; /* Position at the end of the range line */
}
.marker-label {
  position: absolute;
  top: 20px; /* Position below the range line */
  font-size: 12px;
  color: #333;
}

.purple-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #941394; /* Purple color */
  border: 2px solid #800080;
  border-radius: 13px;
  text-decoration: none;
  transition: all 0.3s ease;

  /* Hover effect */
  &:hover {
    background-color: #4b004b; /* Darker shade of purple on hover */
    border-color: #4b004b;
  }
}
